:host {
  display: block;
  height: 100%;
  width: 900px;
  margin: auto;
  padding: 50px 0;
}

.main {
  display: flex;
  margin-top: 40px;
}

.left {
  flex: 1;
  margin-right: 30px;
}

.right {
  flex: 1;
}

.btns {
  margin-top: 80px;
}

.btn-block {
  display: flex;
  justify-content: space-between;
}

.tip {
  width: 100%;
  margin-top: 20px;
}

p {
  font-size: 20px;
}

.header-block {
  display: flex;
}

.header {
  position: relative;
  width: 100px;
  padding: 15px;
  background-color: #e6e6e6;
  border: 1px solid white;
  text-align: center;
}

.body-block {
  width: fit-content;
}

.body-row {
 display: flex;
 .body-item {
   width: 100px;

   &.__name {
    background-color: #e6e6e6;
    border: 1px solid white;
    text-align: center;
    padding: 10px 0;
   }
 }
}
