<div class="main">
  <div class="header-block">
    <div *ngFor="let header of headers; let i = index" class="header" [ngClass]="{'__first': !i}">
      <span>{{header}}</span>
      <i class="pi pi-times __top" *ngIf="header === 'p' + (headers.length - 4)" (click)="removeColumn(header)"></i>
    </div>
  </div>
  <div class="body-block">
    <ng-container *ngFor="let item of form.controls; let rowIndex = index">
      <div [formGroup]="item" class="body-row">
        <i class="pi pi-times __left" *ngIf="rowIndex === form.controls.length - 2" (click)="removeRow(rowIndex)"></i>
        <ng-container *ngFor="let control of headers">
          <div *ngIf="control === 'name'; else inputField" class="body-item __name">
            {{item.get('name').value}}
          </div>
          <ng-template #inputField>
            <input class="body-item" type="text" [formControlName]="control">
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
    <i class="pi pi-plus __bottom" (click)="addRow()"></i>
    <i class="pi pi-plus __right" (click)="addColumn()"></i>
  </div>
</div>
<button (click)="getData()" class="steps-btn">Прорахувати оптимальний план</button>

<div class="steps">
  <div *ngFor="let step of steps; let stepIndex = index" class="step">
    <p style="margin-bottom: 10px;">{{'Крок ' + (stepIndex + 1)}}</p>
    <p>{{'Поточний дохід: ' + step.currentIncome}}</p>
    <p>{{'Тип вулика: ' + step.apiaryId}}</p>
    <p>{{'Кількість вуликів: ' + step.currentNumberOfBeehives}}</p>
    <p style="margin-top: 10px;">{{'Обмеження:'}}</p>
    <p *ngFor="let item of step.xij; let itemIndex = index">{{'A' + (itemIndex + 1) + ': ' + item}}</p>
  </div>
</div>

